* {
    margin: 0;
    padding: 0;
}

/*  Start default class*/
.pd-none {
    padding: 0;
}

.display-none{
    display: none !important;
}

.display-block{
    display: block !important;
}

.position-relative {
    position: relative !important;
}

/*  End default class*/

.theme__dark #search-bar
,.theme__dark #search_icon
,.theme__dark #about__us
,.theme__dark #theme__whatnew

{
    background: #282828 !important;
    color: #fff !important;
}
.theme__dark #about__us .content-1-right p {
    color: #c2d0da !important;
}
.theme__dark #theme__menu .theme__icon

{
    background: #282828;
    color: #fff !important;
}

.theme__dark #theme__menu .theme__boxmenu a
,.theme__dark .theme__blog a
,.theme__dark .theme__blog h3
 {
    color: #fff;
}

.theme__dark #theme__menu {
    background-color: #202020 !important;
}
.theme__dark #theme__menu .theme__boxmenu {
    background-color: #202020 !important;
    color: #c2d0da !important;
}
.theme__dark #theme__menu .theme__boxmenu p {
    color: #c2d0da !important;
}



body {
}
/* Header */
.header {background-size: cover;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../image/banner1.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
}
.navbar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}
.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    display: flex;
} 
.logo {
    width: 50%;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
}
.w3menu-right-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}
.search-bar {
    display: flex;
    background-color: white;
    border-radius: 5px;
}

#theme_switch {
    cursor: pointer;
}

#icon_moon{
    font-size: 20px;
    color: #fff;
}

#icon_sun{
    font-size: 20px;
    color: #fff;
}


.w3menu-right-content .search-bar .search .search-input {
    display: flex;
    flex: 1;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    border: none;
    font-weight: 400;
    border-radius: 4px;
    position: relative;
}
.w3menu-right-content .search-bar .search .search-icon {
    position: absolute;
    right: 20px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
}

#trigger-overlay {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    color: #fbfdfb;
    font-size: 1.95em;
    padding: 0 8px;
}

.box__overlay {
    width: 100%;
    height: 100%;
    background: rgb(6 3 0 / 77%);
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 99;
}
.box_menu a:hover {
    color: #ff6600;
    text-decoration: none;
}

.box_menu{
    width: 100%;
    height: 400px;
    color: #fff;
    margin-top: 160px;
    text-align: center;
}

.box_menu ul li a {
    color: #fff;
    line-height: 2.5em;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;

}

.close_box_menu{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background: #ff6600;
    margin-top: 4%;
    margin-right: 4%;
    float: right;
}

.close_box_menu i{
    font-size: 14px;
    color: #fff;
}

.text {
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
}
.text h3{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    font-family:sans-serif;
}
.text p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
.btn-outline-light {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
}
.btn-outline-light i {
    font-size: inherit;
}
.btn-outline-light:hover {
    background-color: white;
    color: orangered;
}
h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: orangered;
    font-family:cursive;    
}
h3 {
    font-size: 41px;
    font-weight: 600;
    line-height: 50px;
}
.content-1-right p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(22, 28, 45, 0.7) !important;
}

/* blog */
.blog {
    background-color: #ff6600;
}
.images {
    background-image:url(../Image/banner3.jpg);
    background-position: center;
    min-height: 600px;
    background-size: cover;
    position: relative;
    height: 100%;
    z-index: 1;
}
.images::before {
    content: "";
    min-height: 100%;
    background: #0000008a;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}
.right {
    padding: 3.75rem;
}
.col-lg-6 h6 {
    color: white !important;
    font-size: 20px !important;
}
.col-lg-6 p {
    color: #ffdfc9;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 18px;
}
.like-food {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.icon {
    
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 10px;
    text-align: center;
    
}
.icon i {
    font-size: 28px;
    color:#ff6600;
    line-height: 2.5;
}

.like-food a {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 2;
    text-decoration: none;
}
.beat-deal p {
    font-size: 18px;
}

.beat-deal:hover .icon i{
    color: orange;
    transition: 0.5s;
}
.beat-food:hover .icon i{
    color: orange;
    transition: 0.5s;
}

/*what-new */
.what-new {
    background-color: #f3f3f3;
}
.what-new-row {
    display: flex;
    flex-wrap: wrap;
}
.img img {
    position:relative;
    border-radius: 6px;
    margin-top: 35px;
}
.img img:hover {
    opacity: 0.85;
    transition: all 0.3s;
}
.info {
    position: absolute;
    bottom: 0;
}
.info h4 {
    color: white;
}
.info a {
    text-decoration: none;
}
.info h6 {
    color: #ffc600;
}

/*menu*/
.menu {
    background-color:  #f7f7f7;
}
.menu-box {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    position: relative;
    border: 1px solid #eee;
    margin-bottom: 30px;
    background-color: white;
}
.menu-box p {
    color: rgba(22, 28, 45, 0.7) !important;
}
.menu-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}
.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: #282828;
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s;
    background-color: #f4f5fd;
}
.icon span {
    color:#ff6600;
    font-size: 25px;
    line-height: 70px;
}
.info1 {
    height: 50px;
}
.info1 p {
    font-size: 19px;
    line-height: 28px;
    color: #a3a3a3;
    font-family:sans-serif;
}
.info1 a{
    color: black;
}
.info1 h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.menu-box:hover {
    box-shadow: 0 25px 98px 0 #0000001a;
    cursor: pointer;
}
.menu-box:hover .icon {
    background-color:#ff6600 !important;
    transition: 0.5s;
    
}.menu-box:hover .icon i {
    transition: 0.5s;
    color: white !important;
}
    
.info1 a:hover {
    color: #ff6600 !important;
    text-decoration: none;
}
/* Media responsive */
@media (max-width:600px){
    .search-bar{
        display: none;
    }
} 
@media (max-width:1190px){
    .text h3{
        font-size: 48px;
        line-height: 58px;
    }
}
@media (max-width: 992px) {
    .text h3 {
        font-size: 44px;
        line-height: 53px;
    }
}
@media (max-width: 800px) {
    .text h3 {
        font-size: 40px;
        line-height: 50px;
    }
}
@media (max-width: 480px) {
    .text h3 {
        font-size: 28px;
        line-height: 38px;
    }
}
@media (max-width: 480px) {
    .btn-white {
        padding: 10px 21px;
    }
}
@media (max-width: 480px) {
    .btn-white {
        font-size: 16px;
    }
}
@media (max-width: 1080px) {
    .content-1-left h3 {
        font-size: 32px;
        line-height: 40px;
    }
}
@media (max-width: 600px) {
    .content-1-left h3 {
        font-size: 30px;
        line-height: 38px;
    }
}
@media (max-width: 480px) {
    .content-1-left h3 {
        font-size: 26px;
        line-height: 36px;
    }
}
@media (max-width: 375px) {
    .content-1-left h3 {
        font-size: 24px;
        line-height: 34px;
    }
}
@media (max-width: 600px) {
    .content-1-right p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 1280pxpx) {
    .what-new .container {
        max-width: 1200px;
    }
}
